* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --font: "Grand Hotel", cursive;
  --primaryColor: #698f3f;
  --secondaryColor: #fca311;
  --mainDark: #3a3e3b;
  --mainGrey: #e5e5e5;
  --mainTransition: all 0.3s ease-in-out;
  --letterspacing: 0.5rem;
}
body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.5;
}

.section-center {
  padding: 2rem 0;
  /* width: 80vw; */
  max-width: 70%;
  margin: auto;
}
.clearfix::after,
.clearfix::before {
  content: "" "";
  clear: both;
  display: table;
}

.name {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 20px 0;
  color: #0c2542;
}
/* navber  */
.nav-btn {
  position: fixed;
  z-index: 1;
  color: #ffffff;
  font-size: 30px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

/* navbar  */
.navbar {
  position: fixed;
  z-index: 2;
  max-width: 50vw;
  /* max-width: 30vw; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  padding: 1rem 0 0 0.5rem;
  transition: var(--maintransittion);
  transform: translateX(-100%);
}
.showNav {
  transform: translateX(0);
}
.nav-close {
  font-size: 2rem;
  cursor: pointer;
}

.nav-link {
  text-align: center;
  display: block;
  font-size: 1.2rem;
  border: rgb(255, 254, 254) solid;
  border-radius: 10px;
  margin: 20px 30px 0 0;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover {
  color: rgb(0, 0, 0);
  padding-left: 30px;
  background: rgb(255, 255, 255);
}
@media screen and (min-width: 805px) {
  .navbar {
    max-width: 15vw;
  }
}
.fa-times {
  color: #fff;
}

/* header  */
.nav-stu {
  min-height: 26vh;
  /* background-color: rgb(0, 160, 182); */
  /* background: linear-gradient(to right, #ec2f4b, #009fff); */
  background: linear-gradient(to right, #514a9d, #24c6dc);
  overflow: hidden;
  margin: auto;
}
.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 805px) {
  .nav-stu {
    min-height: 20vh;
  }
}
.img-logo {
  max-height: 50%;
  max-width: 100px;
  box-shadow: 2px 3px 5px;
}
.logo-name {
  font-size: 35px;
  color: #fff;
  font-family: serif;
  letter-spacing: 2px;
  text-shadow: 4px 5px 5px #201e1e;
}

.header_line {
  font-size: 14px;
  color: rgb(230, 219, 219);
  letter-spacing: 2px;
  padding-top: 3px;
  text-shadow: 1px 2px #201e1e;
}

/*----------- this is for login form ---------- */

.student-login-form {
  min-height: 80vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.473)),
    url("./Img/student.jpg") center/cover no-repeat fixed;
}
.std-head {
  text-align: center;
  max-width: 100%;
}
.std-head img {
  max-width: 90px;
  border: solid #f97d7d;
  border-radius: 100%;
}

.std-head h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  letter-spacing: var(--letterspacing);
  text-shadow: 3px 5px black;
  /* box-shadow: 5px 8px 8px black; */
}
@media screen and (min-width: 805px) {
  .student-login-form {
    min-height: 72vh;
  }
}
/* account form css  */

.login form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 50px;
  background: linear-gradient(to right, #fd143780, #009dff50);
  box-shadow: 30px 25px 50px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 755px) {
  .login form {
    width: 95%;
  }
}
.login form input {
  background: #ffefd5;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px 0px;
  margin: 3px 0px;
}
.login textarea {
  background: #ffefd5;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px 0px;
  margin: 3px 0px;
}
.login textarea[type="text"] {
  text-align: center;
}
.login button {
  width: 100%;
  background: #ffefd5;
  margin: 10px 0px;
  font-family: "Ubuntu", sans-serif;
  font-size: bold;
}

.login a {
  width: 100%;
  color: white;
  font-size: bold;
}

.login h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: bold;
  color: #fff;
}

.login input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  text-align: center;
}

.login input::-webkit-outer-spin-button,
.login input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.login input[type="number"] {
  -moz-appearance: textfield;
}
/* footer section */

.footer {
  background: black;
  min-width: 100%;
  margin: auto;
  justify-content: center;
  overflow: hidden;
}
.footer .policy {
  text-align: center;
  padding: 10px 0;
}
.footer .policy ul a {
  display: inline-block;
  color: whitesmoke;
  padding: 10px;
}
.footer .foot {
  text-align: center;
  padding: 10px 0;
}
.footer .foot span {
  color: whitesmoke;
}
/* end of account form  */
/* authority login  */
.aut-login-form {
  min-height: 80vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.473)),
    url("./Img/authority.jpg") center/cover no-repeat fixed;
}
.jud-login-form {
  min-height: 80vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.473)),
    url("./Img/judege.jpg") center/cover no-repeat fixed;
}
/* student index  */
.row-2 {
  padding: 2rem 0;
  min-height: 70vh;
  /* width: 80vw; */
  max-width: 90%;
  margin: auto;
}
.row-2 div {
  padding: 20px 0;
  transition: var(--maintransittion);
}

.row-2 div:hover {
  transform: translateY(-6px);
}
.row-2 img {
  width: 100%;
  border: solid #384997 5px;
  border-radius: 10px;
}
.cat-title {
  text-align: center;
  color: #13267a;
  font-size: 30px;
  font-family: var(--font);
  letter-spacing: var(--letterspacing);
}
@media screen and (min-width: 805px) {
  .row-2 div {
    float: left;
    width: 33.3%;
  }
  .row-2 div {
    padding: 20px 20px;
  }
}
/* this is for idea page  */
.row-sub {
  display: block;
  padding: 2rem 0 0 2rem;
  max-width: 100%;
  margin: auto;
  float: left;
}
.write-2 img {
  width: 420px;
  height: 310px;
  border: seagreen solid 5px;
  border-radius: 10px;
}
.write-2 {
  /* border: solid; */
  text-align: center;
  transition: var(--maintransittion);
  width: 100%;
}
.write-2 h2,
p {
  color: black;
}
.write-2:hover {
  transform: translateY(-6px);
}
@media screen and (min-width: 850px) {
  .row-sub {
    width: 50%;
  }
  .write-2 {
    width: 100%;
  }
}
@media screen and (min-width: 1700px) {
  .row-sub {
    width: 25%;
  }
  .write-2 {
    width: 100%;
  }
}
/* admin panel  */

.admin {
  margin: 0px;
  border: 0px;
  padding: 100px 0;
  min-height: 95vh;
  background: radial-gradient(#afc3d6, #d3d3d3);
}

.admin h2 {
  text-align: center;
  font-size: 3rem;
}

.block {
  text-align: start;
  position: absolute;
  top: 60%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  /* box-shadow: 20px 20px 50px; */
  /* background-color: rgba(0, 0, 0, 0.3); */
}
.block form td {
  padding: 5px 0;
}

@media screen and (max-width: 1200px) {
  .admin {
    width: 100%;
  }
  .admin h2 {
    font-size: 1.5rem;
  }
  .block {
    top: 75%;
  }
}
/* this is for switch  */
.switch a {
  text-align: center;
  display: block;
  margin-top: 20px;
  padding: 12px;
  border: rgb(39, 12, 12) solid;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background: black;
  transition: var(--maintransittion);
}
.switch a:hover {
  background: rgb(255, 253, 253);
  color: #000000;
}
/* this is for answer shit page name product  */
.single-product {
  padding: 5rem 2rem;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

.productpage-1 img {
  width: 420px;
  height: 310px;
  border: seagreen solid 5px;
  border-radius: 10px;
}

.productpage-2 h3 {
  margin: 10px;
}

.button {
  margin: 20px 0px;
  padding: 10px;
}

.btn {
  color: white;
  background: #581845;
  border-radius: 20px;
  text-decoration: none;
  border: solid black;
  padding: 5px 8px;
  margin-right: 15px;
}

.related h3 {
  text-align: center;
}
@media screen and (min-width: 1230px) {
  .single-product {
    min-height: 75vh;
  }
  .productpage-1 img {
    width: 570px;
    height: 460px;
  }
  .productpage-1 {
    margin-top: 60px;
    width: 50%;
    float: left;
  }
  .productpage-2 {
    margin-top: 100px;
    width: 50%;
    float: right;
    text-align: left;
  }
}
/* contract page  */
.contract {
  min-height: 60vh;
  background: url(./Img/student.jpg) center/cover no-repeat fixed;
  position: relative;
}
